@import "../css/typography.css";

.about-container{
    text-align: center;
    font-family: 'main-thin';
    padding-top: 40vh;
    padding-bottom: 40vh;
}

.about-container h1{
    font-size: 2rem;
    text-decoration: underline;
}

@media only screen and (max-width: 1024px){
    .about-container{
        padding-top: 20vh;
        padding-bottom: 20vh;
    }

}